
@{
    ViewBag.Title = "商家管理首页";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@section head{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>爱尚花坊管理系统存后台首页</title>
    <script src="/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <!--lovey核心css-->
    <link rel="stylesheet" href="/Content/js/lovey/style/css/lovey.css?__V=1387455242901"
          type="text/css" />
    <!--OA自定义样式-->
    <link rel="stylesheet" href="/Content/custom_style/custom.css?__V=1387455242901"
          type="text/css" />
    <link rel="stylesheet" href="/Content/custom_style/custom_oa.css?__V=1387455242901"
          type="text/css" />
    <style type="text/css">
        html {
            overflow: hidden;
            min-width: 1024px;
        }
    </style>
    <link href="/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>

    <SCRIPT type="text/javascript">
		<!--
        var setting = {};

        var zNodes = [
			{ name: "父节点1 - 展开", open: true,
			    children: [
					{ name: "父节点11 - 折叠",
					    children: [
							{ name: "叶子节点111" },
							{ name: "叶子节点112" },
							{ name: "叶子节点113" },
							{ name: "叶子节点114" }
						]
					},
					{ name: "父节点12 - 折叠",
					    children: [
							{ name: "叶子节点121" },
							{ name: "叶子节点122" },
							{ name: "叶子节点123" },
							{ name: "叶子节点124" }
						]
					},
					{ name: "父节点13 - 没有子节点", isParent: true }
				]
			},
			{ name: "父节点2 - 折叠",
			    children: [
					{ name: "父节点21 - 展开", open: true,
					    children: [
							{ name: "叶子节点211" },
							{ name: "叶子节点212" },
							{ name: "叶子节点213" },
							{ name: "叶子节点214" }
						]
					},
					{ name: "父节点22 - 折叠",
					    children: [
							{ name: "叶子节点221" },
							{ name: "叶子节点222" },
							{ name: "叶子节点223" },
							{ name: "叶子节点224" }
						]
					},
					{ name: "父节点23 - 折叠",
					    children: [
							{ name: "叶子节点231" },
							{ name: "叶子节点232" },
							{ name: "叶子节点233" },
							{ name: "叶子节点234" }
						]
					}
				]
			},
			{ name: "父节点3 - 没有子节点", isParent: true }

		];

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
		//-->
    </SCRIPT>
}

<script>
    function upEdit(_url) {
        var url = _url; //转向网页的地址;
        var name = "修改密码";                        //网页名称，可为空;
        var iWidth = 450;                          //弹出窗口的宽度;
        var iHeight = 400;                       //弹出窗口的高度;
        //获得窗口的垂直位置
        var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
        //获得窗口的水平位置
        var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
        var params = 'width=' + iWidth
            + ',height=' + iHeight
            + ',top=' + iTop
            + ',left=' + iLeft
            + ',channelmode=yes'//是否使用剧院模式显示窗口。默认为 no
            + ',directories=yes'//是否添加目录按钮。默认为 yes
            + ',fullscreen=no' //是否使用全屏模式显示浏览器
            + ',location=no'//是否显示地址字段。默认是 yes
            + ',menubar=no'//是否显示菜单栏。默认是 yes
            + ',resizable=no'//窗口是否可调节尺寸。默认是 yes
            + ',scrollbars=yes'//是否显示滚动条。默认是 yes
            + ',status=yes'//是否添加状态栏。默认是 yes
            + ',titlebar=yes'//默认是 yes
            + ',toolbar=no'//默认是 yes
            ;
        window.open(url, name, params);
    }

          function uppwd(url, title) {

              top.$.ligerDialog.open({
                  className: 'dialog_style02',
                  height: 330,
                  width: 400,
                  title: title,
                  url: '' + url,
                  dialogWaiting: true,
                  buttons: [
    			                        {
    			                            text: '关闭',
    			                            onclick: close
    			                        }]
              });

              function close(button, dg) {
                  top.$.ligerDialog.close();
              }

          }

</script>
@*页面加载时出现的动画，加载成功后隐藏*@
<div id="pageloading">
</div>
<!--------------------------------页头开始-------------------------------->
<div id="header">
    <div class="layout_1" id="top">
        <div style="font-size:20px;color:White; padding-top:15px;padding-left:5px;">
            爱尚花坊商家管理系统
        </div>
        <div class="sublogo">
        </div>
        <div class="shop">
            <!----------页头右侧功能区开始------------>
            <div class="userinfo">
                欢迎您，@ViewBag.uname
            </div>
            <div class="shortcut" style="padding-top:0px;">
                <ul>
                    <li><a onclick="javascript:upEdit('/Home/UserEdit','密码修改')" class="png todo" title="密码修改" target="_self"></a></li>

                    <li>
                        <div onclick="javascript:exitSystem()" class="exit png" title="退出">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!----------------页头右侧功能区结束---------------->
    </div>
    <div class="layout_2" id="top_sites">
        <div id="top_expanded_bar" onclick="expandTop(this)" class="float_right">

            <a href="javascript:void(0)" class="arrow_up" title="向上收起"></a>
        </div>
    </div>
    <div class="trans_bg png">
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".drop_menu_yellow a").bind("click", function () {
            addTab(this);
        });
    });

    function addTab(object) {
        var hrefElement = $(object);
        var tabid = hrefElement.attr("tabid");

        if (navtab.isTabItemExist(tabid)) {
            navtab.selectTabItem(tabid);
            navtab.reload(tabid);
            return;
        }

        navtab.addTabItem({
            text: hrefElement.attr("tabtitle") ? hrefElement.attr("tabtitle") : '空菜单',
            url: hrefElement.attr("url") ? hrefElement.attr("url") : '#',
            tabid: tabid,
            resizeFrame: true,
            dialogWaiting: true,
            menuPic: hrefElement.attr("menuPic")
        });
    }
    function addTabByID(title, url, name) {
        if (name == undefined) name = title;
        var hrefElement = $("a[title='" + title + "'");
        var tabid = hrefElement.attr("tabid");

        if (navtab.isTabItemExist(tabid)) {
            //            navtab.selectTabItem(tabid);
            //            navtab.reload(tabid);
            //            return;
            navtab.removeTabItem(tabid);
        }

        navtab.addTabItem({
            text: name,
            url: url,
            tabid: tabid,
            resizeFrame: true,
            dialogWaiting: true,
            menuPic: hrefElement.attr("menuPic")
        });
    }

</script>
<!--------------------------------页头结束-------------------------------->
<!--------------------------------框架主体开始-------------------------------->
<div id="main">
    <!------左侧抽屉菜单开始------>
    <div class="sidebar_expand_bar" id="sidebar_expand_bar">
        <!--左侧菜单收缩后展示内容开始-->
        <div class="sidebar_header">
            <a href="javascript:expandMenu()" class="arrow_right" title="向右展开"></a>
        </div>
        <div class="accordion_expand">
        </div>
    </div>
    <!--左侧菜单收缩后展示内容结束-->
    <!------左侧抽屉菜单开始------>
    <div id="boxscroll">
        <div id="sidebar">
            <div class="sidebar_header">
                <a href="javascript:unExpandMenu()" class="arrow_left" title="向左收起" hidefocus="true">
                </a>
            </div>
            <div id="accordion">
                <!-- 遍历菜单 -->
                
                <div title="<span>商家管理</span>">
                    <ul>
                        <li>
                            <a href="#" url="/Owner/AddGoods" title="" pkid="21" tabid="7">
                                <img alt="" src="/Content/images/oa/module/smallicon/icon/menu_xtgl.png" t_src="/Content/images/oa/module/smallicon/white/menu_xtgl.png" width="16px" height="16px" />
                                添加商品
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" url="/Owner/OrderShopminxi" title="" pkid="21" tabid="8">
                                <img alt="" src="/Content/images/oa/module/smallicon/icon/menu_xtgl.png" t_src="/Content/images/oa/module/smallicon/white/menu_xtgl.png" width="16px" height="16px" />
                                查看店铺订单明细
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" url="/Home/UserImprovement" title="" pkid="21" tabid="">
                                <img alt="" src="/Content/images/oa/module/smallicon/icon/menu_xtgl.png" t_src="/Content/images/oa/module/smallicon/white/menu_xtgl.png" width="16px" height="16px" />
                                完善信息
                                <span class="caret"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar_footer">

            </div>
        </div>
    </div>
    <!------左侧抽屉菜单结束------>
    <!------内容操作区开始------>
    <div id="content_right">
        <div title="首页" tabid="" fix="true" menupic="menu_dbsy.png">
            <iframe src="/Owner/Goods" frameborder="0" id="main_index" allowtransparency="true">

            </iframe>
        </div>
    </div>
    <!------内容操作区结束------>
</div>
<!------底部任务栏开始------>
<div id="footer">

    <!------底部任务栏开始------>
    <div class="ui_taskbar" style=" color:White; text-align:center">
        <span class="taskbar_window"></span>
        <ul class="taskbar_menu" id="taskbar"></ul>
        <!---->
        <a class="taskbar_button" onclick="javascript:unexpandBottom()"></a>
        我的花草世界--爱尚花坊后台管理系统 @DateTime.Now
    </div>
    <div class="ui_taskbar_expand">
        <a class="taskbar_expand_button" onclick="javascript:expandBottom()"></a>

    </div>

</div>
<!------底部任务栏结束------>
<!--------------------------------框架主体结束-------------------------------->
<!--jquery核心js文件-->
<!--懒加载核心js文件-->
<script type="text/javascript" src="/Content/js/lovey/js/easyloader.js?__V=1387455242901"></script>
<!-- 加载公用的js -->
<script type="text/javascript" src="/Content/js/oa/base/commfunction_jquery.js?__V=1378462010000"></script>
<script type="text/javascript">
    //判断当前页面是否被Iframe集成
    easyloader.isIframe = (window != top);
    //启用SNS风格，动态程序在高层页面全局设定
    easyloader.dialogCssName = "dialog_style02";
    easyloader.URI = "";
    var isIe6 = navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE6.0";
    var left_expanded = true; //左边菜单默认展开
    var top_expanded = true; //顶部默认展开
    var navtab = null; //多tab展示
    var accordion = null;
    var taskbar = null;
    $(document).ready(function () {
        using(["accordion", "tab", "combobox", "dialog", "taskbar", "cluetip", "iframe", "scrollbar"], function () {
            var tabElement = $("#content_right");
            var accordionElement = $("#accordion");
            var taskbarElement = $("#taskbar");
            var scrollElement = $("#boxscroll");

            /**
            * 左侧菜单启用滚动条
            */
            scrollElement.niceScroll({
                railalign: "left",
                touchbehavior: false,
                cursorcolor: "#000",
                cursoropacitymax: 0.6,
                cursorwidth: 8
            });

            /**
            * tab和抽屉组件的初始化
            */
            tabElement.ligerTab({
                className: "tab_style07",
                onAfterSelectTabItem: function (tabid) {
                    storeCurrentModuleId(tabid);

                    if (navtab == null) {
                        return;
                    }
                    if (tabid == "-1") {
                        navtab.reload(-1);
                    }
                },
                onBeforeRemoveTabItem: function (tabid) {
                    var currentTabId = $(".l-tab-content-item[tabid=" + tabid + "]").prev().attr("tabid");
                    storeCurrentModuleId(currentTabId);
                },
                onAfterRemoveTabItem: function (tabid) {
                    if (navtab != null && navtab.getTabItemCount() == 1) {
                        navtab.reload(-1);
                    }
                }
            });

            /*accordionElement.ligerAccordion({
            className: "accordion_style03",
            speed:0
            });*/

            accordionElement.ligerAccordion({
                className: "accordion_style03",
                speed: 0,
                dialogWaiting: true,
                accordClickFunction: function (clickObject) {
                    var tabid = clickObject.attr("tabid");

                    if (navtab.isTabItemExist(tabid)) {
                        navtab.selectTabItem(tabid);
                        navtab.reload(tabid);
                        return;
                    }

                    navtab.addTabItem({
                        text: clickObject.attr("text") ? clickObject.attr("text") : "空菜单",
                        url: clickObject.attr("url") ? clickObject.attr("url") : '#',
                        tabid: clickObject.attr("tabid") ? clickObject.attr("tabid") : new Date().getTime(),
                        resizeFrame: true,
                        dialogWaiting: true,
                        menuPic: clickObject.attr("menuPic") ? clickObject.attr("menuPic") : "default.png"
                    });
                }
            });


            taskbarElement.loveyTaskBar({
                iconPath: easyloader.URI + "/Content/images/oa/module/smallicon/icon/",
                favUrl: "/module/CollectModule.do",
                unFavUrl: "/module/UnCollectModule.do",
                taskPkId: "pkId",
                initJson: []
            });

            /**
            * 取得tab和抽屉组件的管理器
            */
            navtab = tabElement.ligerGetTabManager();
            accordion = accordionElement.ligerGetAccordionManager();
            taskbar = taskbarElement.loveyGetTaskBarManager();

            //下拉框选择站点
            $("#selectSite").ligerComboBox({
                width: 140,
                data: [
	                {
	                    roleDeptId: 1,
	                    roleDeptName: "超级管理员"
	                }
                ],
                isNotShowClear: true,
                initText: "请选择",
                valueField: "roleDeptId",
                textField: "roleDeptName"
            });
            /**
            * 新建下拉按钮组
            */
            $(".ui_btn_new:eq(0)").cluetip({
                local: true,
                positionBy: "bottomTop",
                width: 120,
                activation: "click"
            });

            //窗口resize事件绑定
            $(window).bind("resize", function () {
                setContentHeight(top_expanded);
                setFrameZoneWidth(left_expanded);
                setFrameZoneHeight(top_expanded);
            });

            setContentHeight(top_expanded);
            //重设多tab窗口条，控制向上浮动30p
            $(".l-tab-links").css({ width: '100%', position: 'absolute', height: '30px', top: '-30px', zIndex: 999, overflow: 'hidden' });
            setFrameZoneWidth(left_expanded);
            //页面加载完成后隐藏loading动画
            $("#pageloading").hide();
        });
    });
    /*添加消息类型*/
    function readMail() {
        $.ligerDialog.ajaxFormSubmit({
            className: "dialog_style04",
            height: 400,
            width: 700,
            title: "查阅站内信",
            formUrl: "dialog_demo.html"
        });
    }

    //顶部收缩
    function expandTop(obj) {
        var topElement = $("#top");
        if (top_expanded)

         {
            top_expanded = false;
            $(obj).html("<a href='javascript:void(0)' class='arrow_down' title='向下展开'></a>");
            topElement.fadeOut(200);
            setContentHeight(top_expanded);
            autoFload(top_expanded)
        } else {
            top_expanded = true;
            $(obj).html("<a href='javascript:void(0)' class='arrow_up' title='向上收起'></a>");
            topElement.fadeIn(200);
            setContentHeight(top_expanded);
            autoFload(top_expanded)
        }
    }

    function autoFload(topExpanded) {
        //重算距离
        $(".l-dialog,.l-tips").each(function (i, item) {
            /**
            * 弹出层和触发的元素层，对话框的框体对象
            *  {*|jQuery|HTMLElement}
            */
            var dialogEl = $(item);
            var topStrs = dialogEl.attr("style").split(";");
            var top = 0;
            for (var j = 0; j < topStrs.length; j++) {
                var temp = topStrs[j];
                if (temp != "") {

                    var tempStrs = temp.split(":");
                    var tempOne = tempStrs[0].toLocaleLowerCase().replace(/(^\s*)|(\s*$)/g, "");
                    var tempTwo = tempStrs[1].replace(/(^\s*)|(\s*$)/g, "").replace("px", "");
                    if (tempOne == "top") {
                        top = topExpanded ? parseInt(tempTwo) + 55 : ((parseInt(tempTwo) - 55 < 0) ? 0 : parseInt(tempTwo) - 55);
                    }
                }
            }

            dialogEl.css({ top: top });
        });
    }


    //展开底部任务栏菜单
    function expandBottom() {
        $(".ui_taskbar").fadeIn(300);
        $(".ui_taskbar_expand").hide();
        setContentHeight(top_expanded);
    }

    //收缩底部任务栏
    function unexpandBottom() {
        $(".ui_taskbar_expand").fadeIn(300);
        $(".ui_taskbar").hide();
        setContentHeight(top_expanded);
    }

    //获取中间内容区高度
    function getContentHeight(expanded) {
        var win_height = $(window).height();
        var top_height = !expanded ? 0 : $("#top").outerHeight();
        var bottom_height = $("#footer").outerHeight();
        return (win_height - $("#top_sites").height() - (top_height + bottom_height));
    }

    //设置内容区高度
    function setContentHeight(top_expanded) {
        $("#main").height(getContentHeight(top_expanded));
        $("#sidebar_expand_bar").height(getContentHeight(top_expanded));
        $("#sidebar").height(getContentHeight(top_expanded));
        $("#content_right").height(getContentHeight(top_expanded));
        setFrameZoneHeight(top_expanded);
    }

    //设置frame区域宽度
    function setFrameZoneWidth(expanded) {
        var win_width = $(window).width() - 1;
        var left_expand_toolbar_width = expanded ? 0 : $("#sidebar_expand_bar").outerWidth();
        var left_menu_width = expanded ? $("#sidebar").outerWidth() : 0;
        $("#content_right").width(win_width - (left_menu_width + left_expand_toolbar_width) + (isIe6 ? -3 : 0));
        $(".l-tab-links").css({
            position: "absolute", left: expanded ? "0px" : "149px", width: (win_width - 230) + "px"
        });
    }

    //设置frame区域高度
    function setFrameZoneHeight(expanded) {
        var tabids = getTabIds();
        if (tabids) {
            for (var i = 0; i < tabids.length; i++) {
                //所有iframe的窗体高度多刷新
                $("iframe[name='" + tabids[i] + "']").height(getContentHeight(expanded) - 6);
            }
        }
        $("#main_index").height(getContentHeight(expanded) - 6);
        $("#-1").height(getContentHeight(expanded) - 6);
    }

    //取得当前tab的id集合
    function getTabIds() {
        return navtab.getTabidList();
    }

    //展开菜单
    function expandMenu() {
        left_expanded = true;
        setFrameZoneWidth(left_expanded);
        $("#sidebar").fadeIn(300);
        $("#sidebar_expand_bar").hide();
    }

    //收缩菜单
    function unExpandMenu() {
        left_expanded = false;
        setFrameZoneWidth(left_expanded);
        $("#sidebar_expand_bar").fadeIn(300);
        $("#sidebar").hide();
    }

    //退出系统
    function exitSystem() {
        $.ligerDialog.confirm("确定退出吗？", function (r) {
            if (r) {
                parent.location.href = "/Home/Login";
            }
        });
    }

    //刷新制定tab
    function refresh() {
        navtab.reload(navtab.getSelectedTabItemID());
    }

    function storeCurrentModuleId(tabid) {
        if (tabid == "-1") {
            setCookie("currentModuleId", "");
        } else {
            setCookie("currentModuleId", tabid);
        }
    }

    function setCookie(name, value) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + 30);
        document.cookie = name + "=" + value + ";expires=" + exdate.toGMTString() + ";path=/";
    }
</script>
<!--IE6png bug-->
<script type="text/javascript" src="/Content/js/png.js?__V=1387455242901"></script>
