
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>爱尚花坊-登录</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Login1.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/supersized.css" />

    <script type="text/javascript" src="~/Script/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Script/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="~/Script/js/supersized-init.js"></script>
    <script type="text/javascript" src="~/Script/js/scripts.js"></script>
    <script type="text/javascript" src="~/Script/js/Login.js"></script>
    <script>
        $(function () {
            $("#btnsubmit").live('click', function () {
                var user = $("#UserName").val();
                var Password = $("#Password").val();
                //var VailCode = $("#VailCode").val();
                if (user == "") {
                    alert("用户名不能为空"); $("#UserName").focus();
                    return false;
                }
                if (Password == "") {
                    alert("密码不能为空"); $("#Password").focus();
                    return false;
                }
                //if (VailCode == "") {
                //    alert("验证码不能为空"); $("#VailCode").focus();
                //    return false;
                //}
                $.ajax({
                    type: "POST",
                    url: "/Home/LoginVail",
                    dataType: "json",
                    data: { "UserName": user, "Password": Password, "VailCode": $("#VailCode").val() },
                    beforeSend: function () {
                    },
                    success: function (strjson) {
                        if (strjson.status == 1) {
                            //alert("管理员，登陆成功！");
                            location.href = "/Admin/Index";
                        } else if (strjson.status == 2) {
                            //alert("店铺商家，登陆成功！");
                            location.href = "/Owner/Index";
                        }
                        else if (strjson.status == 3) {
                           // alert("普通用户，登陆成功！");
                            location.href = "/FlowerShop/index";
                        }
                        else {
                            alert(strjson.msg);
                        }
                        return false;
                    }
                });
                return false;
            });
        });
        function clearform() {
            $("#UserName").val("");
            $("#Password").val(""); $("#VailCode").val("");
        }
        function LoginDanDian() {
            if ($("#cb_clause").prop("checked") == false) {
                $("#btnsubmit").attr("disabled", true);
            }
            else {
                $("#btnsubmit").attr("disabled", false);
            }

        }

    </script>
</head>
<body>
    <div class="page-container">
        <h1>Login</h1>
        <form action="/" class="ffo1" method="post">
            <input type="text" id="UserName" name="UserName" class="username" placeholder="Username">
            <input type="password" id="Password" name="Password" class="password" placeholder="Password">
         
            @*<input type="text" class="put1" placeholder="验证码" maxlength="14">
            <img id="ImgCode" src="../../Controllers/CodeHandle.ashx" onclick="getCode()" />
            <a href="javascript:getCode()">换一张</a>*@
            <p><input id="cb_clause" type="checkbox" checked="checked" onchange="LoginDanDian()">我已经仔细阅读并同意<a href="#" target="_blank">《服务条款》</a>中的相关事项。</p>
            <button type="submit" id="btnsubmit">Sign me in</button>
            <div>
                <p>
                    还未注册？<i class="icon-weibo">@Html.ActionLink("点击快速注册", "Register", "Home")</i>
                </p>
                @*<p>
                    忘记密码？<i class="icon-weibo">@Html.ActionLink("点击快速找寻", "LoginRe", "Home")</i>
                </p>*@
            </div>
        </form>
        <div class="connect">

        </div>
    </div>
</body>
</html>
