<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)@*View页面自定义特定js/css使用*@
    <script src="/Content/js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>

</head>
<body>

    @RenderBody()
</body>
</html>
