/* --------------

	   ui_gotop.css:返回顶部
	   author: ywwei@wisedu.com

 ------------ */

/* 返回顶部
----------------------------------------------------------------------------------------------------*/
.ui_gotop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    background:#eee url("../images/icons/ui_gotop.gif") center center no-repeat;
    border:#dcdcdc 1px solid;
    _position: absolute;
    _bottom:auto;
    _margin-bottom: 10px;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.ui_gotop_txt{
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    display: block;
    padding: 2px 0 5px;
    width: 20px;
    line-height: 110%;
    color:#333;
    text-align: center;
    border-radius: 2px;
    background-color:#eee;
    border:#dcdcdc 1px solid;
    text-shadow: 1px 1px 1px #fff;
    _position: absolute;
    _bottom:auto;
    _margin-bottom: 10px;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.ui_gotop_txt i{
    margin-right:0;
}
.ui_gotop:hover,.ui_gotop_txt:hover{
    background-color: #f4f4f4;
    text-decoration: none;
}
#goTop{
    display: none;
}