/* --------------

	   ui_label.css:标签，标记，标号
	   author: xiangxu@wisedu.com

 ------------ */

/* 标记,标号
----------------------------------------------------------------------------------------------------*/
.ui_label, 
.ui_badge {
    background-color: #999;
    color: #fff;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
/*此处改了padding值，jiezuo@wisedu.com，4.27*/
.ui_label {
    border-radius: 3px;
    padding: 2px 4px 1px;
    *padding: 3px 4px 1px;
    _padding: 3px 4px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.ui_badge {
    border-radius: 9px;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    padding: 1px 9px 2px;
	*padding: 2px 9px 1px;
	_padding: 2px 9px 1px;
}
a.ui_label:hover, 
a.ui_badge:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.ui_label_important, 
.ui_badge_important,
.ui_label_red {
    background-color: #B94A48;
}
.ui_label_important[href], 
.ui_badge_important[href]{
    background-color: #953B39;
}
.ui_label_warning, 
.ui_badge_warning,
.ui_label_yellow{
    background-color: #F89406;
}
.ui_label_warning[href], 
.ui_badge_warning[href] {
    background-color: #C67605;
}
.ui_label_success, 
.ui_badge_success,
.ui_label_green {
    background-color: #468847;
}
.ui_label_success[href], 
.ui_badge_success[href] {
    background-color: #356635;
}
.ui_label_info,
.ui_badge_info,
.ui_label_blue{
    background-color: #3A87AD;
}
.ui_label_info[href], 
.ui_badge_info[href] {
    background-color: #2D6987;
}
.ui_label_inverse, 
.ui_badge_inverse,
.ui_badge_black{
    background-color: #333;
}
.ui_label_inverse[href], 
.ui_badge_inverse[href] {
    background-color: #1A1A1A;
}
.ui_btn .ui_label,
.ui_btn .ui_badge {
    position: relative;
    top: -1px;
}
.ui_btn_mini .ui_label, 
.ui_btn_mini .ui_badge {
    top: 0;
}
.ui_list .ui_badge,
.ui_list .ui_label {
	margin-left:3px;
	line-height:18px;
	margin-top:3px;
	float:left;
	*margin-top:0;
}
.ui_tag a:link,
.ui_tag a:visited{
    background:#f8f8f8;
    color: #000;
    border:1px solid #d5d5d5;
    border-radius:5px;
    font-size: 12px;
    white-space: nowrap;
    display: block;
    padding:0 10px;
	}
.ui_tag a:hover{
	text-decoration:none;
	background:#0088CC;
	color:#fff;
    border:1px solid #0088cc;
    border-radius:5px;
}

.ui_tag_style01{
    background: url(../images/common/tag/tag_bg.png) no-repeat;
    border-right:1px solid #0088cc;
    max-width:500px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ui_tag_style01 a:hover{
    text-decoration: none;
}
.ui_tag_style01 a:link,
.ui_tag_style01 a:visited{
    font-size: 12px;
    color:#fff;
    white-space: nowrap;
    display: inline-block;
    margin-left: 23px;
    padding-left: 2px;
    padding-right: 8px;
    max-width: 450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ui_tag_style01 a:hover{
    color:#fff;
}
.ui_tag_style01:hover{
    background: url(../images/common/tag/tag_bg_over.png) no-repeat;
}
