/* --------------

	   ui_nav.css:常用导航菜单样式
	   author: xiangxu@wisedu.com

 ------------ */

/* 导航,导航菜单
----------------------------------------------------------------------------------------------------*/
.ui_navbar{
	width:100%;
	background-color:#2585d0;
	display:inline-block;
}
.ui_navbar .brand {
    color: #fff;
    float: left;
    padding: 10px 15px 9px 15px;
}
.ui_navbar .brand:visited{
    color: #fff;
}
.ui_navbar .pull_right{
	float: right;
}
.ui_navbar .pull_left{
	float: left;
}
.ui_navbar .ui_nav_h{
	margin:0 5px;
}
.ui_nav_h {
	display:inline-block;
	background-color:#2585d0;
	float:left;
	z-index:10000;
}
.ui_nav_h li {
	float:left;
	display:block;
	background:#000;
}
.ui_nav_h li a{
	font-size:14px;
	display:inline-block;
	text-decoration:none;
    padding: 10px 15px 9px 15px;
	color:#fff;
	position:relative;
	background:#2585d0;
	border-right:1px solid #1979c4;
	border-left:1px solid #338cd2;
}
.ui_nav_h li a:visited{
	color:#fff;
}
.ui_nav_h li a:hover{
	text-decoration:none;
	background:#257fc7;
}
.ui_nav_h .active a{
	color:#fff;
	background-color:#1b76be;
	display:inline-block;
	border-left:1px solid #196caf;
	border-right:1px solid #196caf;
}
.ui_nav_h .active a:visited,
.ui_nav_h .active a:hover{
	color:#fff;
	background-color:#1b76be;
	display:inline-block;
	border-left:1px solid #196caf;
	border-right:1px solid #196caf
}
.ui_nav_h .divider-vertical{
	background-color: #357ebd;
    border-right: 1px solid #5ea2de;
    height: 35px;
    margin: 0 9px;
    overflow: hidden;
    width: 1px;
}
.ui_nav_h .ui_nav_item a {
	display:block;
	padding:3px 12px;
	color:#000
}

/*纵向导航*/
.ui_nav_v{
	border-top:1px solid #e5e5e5;
	background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
	padding:0;
	width:150px;
	z-index:10000;
}
.ui_nav_v li{
     _display:inline;
}
.ui_nav_v li a{
	padding:8px 14px;
    display: block;
	text-decoration: none;
	color: #0088cc;
	border:1px solid #e5e5e5;
	border-top: 0;
}
.ui_nav_v li a:link{
	padding:8px 14px;
    display: block;
	text-decoration: none;
	color: #0088cc;
	border:1px solid #e5e5e5;
	border-top: 0;
}
.ui_nav_v li a:hover{
    background-color: #F5F5F5;
	text-decoration: none;
	color: #005580;
}
.ui_nav_v .active a:link{
    background-color: #0088CC;
	color:#fff;
}
.ui_nav_v .active a:visited{
    background-color: #0088CC;
	color:#fff;
}
.ui_nav_v .active a:hover{
    background-color: #0088CC;
	color:#fff;
}

/*面包屑导航*/
.ui_nav_breadcrumb {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #fff, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff inset;
    list-style: none outside none;
    margin: 0 0 18px;
    padding: 7px 14px;
	height: 28px;
}
.ui_nav_breadcrumb li a{
	color:#0088CC;
    float:left;
	}
.ui_nav_breadcrumb li {
	color:#444;
	float:left;
	line-height:29px;
	height:29px;
}
.ui_nav_breadcrumb .divider {
    color: #999999;
    padding: 0 5px;
	display:block;
	float:left;
}
.ui_nav_breadcrumb .active{
    color: #333333;
}
/*ui_nav_breadcrumb_style01 added; author by weiyanwen ;2013.4.16*/
.ui_nav_breadcrumb_style01{
    height:29px;
    line-height: 29px;
}
.ui_nav_breadcrumb_style01 .divider{
    font-family:tahoma;
    color:#999;
    font-size: 10px;
}
.ui_nav_breadcrumb_style01 li{
    float:left;
    color:#4C4C4C;
    padding-right: 5px;
}
.ui_nav_breadcrumb_style01 .active{
    line-height: 31px\9;
}
.ui_nav_breadcrumb_style01 li a{
    margin-right: 5px;
    color:#0088CC;
}
 /*ui_nav_breadcrumb_style01 end*/

.ui_nav_breadcrumb_style02{
    height:29px;
    background:url(../images/common/nav/ui_nav_breadcrumb_style02_bg.gif) repeat-x;
}
.ui_nav_breadcrumb_style02 li{
    float:left;
    height:29px;
    line-height:29px;
    color:#4C4C4C;
    padding-right:5px;
}
.ui_nav_breadcrumb_style02 li a{
    display:block;
    height:29px;
    line-height:29px;
    text-decoration:none;
    color:#4C4C4C;
    float:left;
}
.ui_nav_breadcrumb_style02 .homepage,
.ui_nav_breadcrumb_style02 .divider{
    background-image: url(../images/icons/list_type_ico.gif);
    background-repeat:no-repeat;
}
.ui_nav_breadcrumb_style02 .homepage{
    background-position:0 -235px;
    width:27px;
}
.ui_nav_breadcrumb_style02 .divider{
    background-position:-32px -235px;
    width:11px;
    display:block;
    height:29px;
    float:left;
}


/* 左洁
----------------------------------------------------------------------------------------------------*/

.ui_navbar_style01{
    width:100%;
    background:url(../images/common/nav/ui_navmenu.gif) repeat-x;
    display:inline-block;
}
.ui_navbar_style01 .brand {
    color: #fff;
    float: left;
    padding: 10px 15px 9px 15px;
}
.ui_navbar_style01 .brand:visited{
    color: #fff;
}
.ui_navbar_style01 .pull_right{
    float: right;
}
.ui_navbar_style01 .pull_left{
    float: left;
}
.ui_navbar_style01 .ui_nav_h{
    margin:0 5px;
}
.ui_navbar_style01 .ui_nav_h {
    display:inline-block;
    height:30px;
    float:left;
    z-index:10000;
    background: none;
}
.ui_navbar_style01 .ui_nav_h li {
    position: relative;
    z-index: 9999;
    float:left;
    display:block;
    background: none;
}
.ui_navbar_style01 .ui_nav_h li a{
    font-size:14px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background:url(../images/common/nav/ui_navmenu.gif) repeat-x;
    position:relative;
    border-right: none;
    border-left:none ;
    padding: 7px 15px 7px 15px;
}
.ui_navbar_style01 .ui_nav_h li a:visited{
    color:#fff;
}
.ui_navbar_style01 .ui_nav_h li a:hover{
    text-decoration:none;
}
.ui_navbar_style01 .ui_nav_h .active a{
    color:#fff;
    display:inline-block;
}
.ui_navbar_style01 .ui_nav_h .active a{
    color:#fff;
    background:url(../images/common/nav/ui_nav_overmenu.gif) repeat-x;
}
.ui_navbar_style01 .ui_nav_h .active a:visited,
.ui_navbar_style01 .ui_nav_h .active a:hover{
    color:#fff;
    background:url(../images/common/nav/ui_nav_overmenu.gif) repeat-x;
    display:inline-block;
    border-right: none;
    border-left: none;
}
.ui_navbar_style01 .ui_nav_h .divider-vertical{
    background-color: #357ebd;
    border-right: 1px solid #5ea2de;
    height: 30px;
    margin: 0 9px;
    overflow: hidden;
    width: 1px;
}
.ui_navbar_style01 .ui_nav_h .ui_nav_item a {
    display:block;
    padding:3px 12px;
    color:#000
}

/*纵向导航*/
.ui_navbar_style01 .ui_nav_v{
    border-top:1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding:0;
    width:150px;
    z-index:10000;
}
.ui_navbar_style01 .ui_nav_v li{
    _display:inline;
}
.ui_navbar_style01 .ui_nav_v li a{
    padding:8px 14px;
    display: block;
    text-decoration: none;
    color: #0088cc;
    border:1px solid #e5e5e5;
    border-top: 0;
}
.ui_navbar_style01 .ui_nav_v li a:link{
    padding:8px 14px;
    display: block;
    text-decoration: none;
    color: #0088cc;
    border:1px solid #e5e5e5;
    border-top: 0;
}
.ui_navbar_style01 .ui_nav_v li a:hover{
    background-color: #F5F5F5;
    text-decoration: none;
    color: #005580;
}
.ui_navbar_style01 .ui_nav_v .active a:link{
    background-color: #0088CC;
    color:#fff;
}
.ui_navbar_style01 .ui_nav_v .active a:visited{
    background-color: #0088CC;
    color:#fff;
}
.ui_navbar_style01 .ui_nav_v .active a:hover{
    background-color: #0088CC;
    color:#fff;
}
.ui_navbar_style01 .ddsmoothmenu,
.ui_navbar_style01 .ddsmoothmenu-v{
    display:inline;
}
/* ------------------------------------------------------------------------------------
   *   横向导航   *
   -------------------------------------------------------------------------------- */
.ui_navbar_style01 .ddsmoothmenu{
    background: #414141; /*background of menu bar (default state)*/
    width: 100%;
}

.ui_navbar_style01 .ddsmoothmenu ul{
    z-index:10000;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ui_navbar_style01 .ddsmoothmenu .divider {
    background-color: #fff;
    border-bottom: 1px solid #E5E5E5;
    height: 1px;
    padding:5px 1px;
    overflow: hidden;
}
/*Top level list items*/
.ui_navbar_style01 .ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
    border-right:1px solid #7194de;
    height:30px;
}
/*Top level menu link items style*/
.ui_navbar_style01 .ddsmoothmenu ul li a{
    display:inline-block;
    color: white;
    text-decoration: none;
}

* html .ui_navbar_style01 .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}
.ui_navbar_style01 .ddsmoothmenu ul li a:link,
.ui_navbar_style01 .ddsmoothmenu ul li a:visited{
    color: #fff;
}

.ui_navbar_style01 .ddsmoothmenu ul li a.selected:link,
.ui_navbar_style01 .ddsmoothmenu ul li a.selected:visited{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background:#5f88d9;
    color: #fff;
}
.ui_navbar_style01 .ddsmoothmenu ul li ul li a.selected:link{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background:#5f88d9;
    color: #fff;
}
.ui_navbar_style01 .ddsmoothmenu ul li ul li a.selected:visited{
    color: #fff;
}
.ui_navbar_style01 .ddsmoothmenu ul li a:hover{
    /*background of menu items during onmouseover (hover state)*/
    color: #fff;
    background:url(../images/common/nav/ui_nav_overmenu.gif) repeat-x ;
}
/*1st sub level menu*/
.ui_navbar_style01 .ddsmoothmenu ul li ul{
    position: absolute;
    float: left;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
    /*width of sub menus*/
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid #eee;
    background:#FFF;
    line-height:25px;
    display:inline-block;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ui_navbar_style01 .ddsmoothmenu ul li ul li{
    display: list-item;
    float: left;
    height:25px;
    line-height:25px;
    border-right:none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ui_navbar_style01 .ddsmoothmenu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.ui_navbar_style01 .ddsmoothmenu ul li ul li a{
    width: 160px; /*width of sub menus*/
    padding: 0px 5px 0px 13px;
    margin: 0;
    border-top-width: 0;
    background:#fff;
    height:25px;
    line-height: 25px;
    font-size: 13px;
    display:inline-block;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.ui_navbar_style01 .ddsmoothmenu ul li ul li a:hover{
    background: #5f88d9;
}
.ui_navbar_style01 .ddsmoothmenu ul li ul li a:link,
.ui_navbar_style01 .ddsmoothmenu ul li ul li a:visited{
    color: #000;
    text-decoration: none;
}
.ui_navbar_style01 .ddsmoothmenu ul li ul li a:hover{
    color: #fff;
}

/*二级菜单*/
.submenu{
    position: absolute;
    left: 0;
    top: 30px;
}
.submenu-panel{
    float: left;
    height:auto;
    background:#fff url(../images/common/nav/ui_nav_bg.png) no-repeat right bottom;
    padding: 0 35px 15px 15px;
    width: 308px;
}
.submenu-panel dl{
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 0;
    width:275px;
}
.submenu-panel dt{
    color: #4d4d4d;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    background: none;
}
.submenu-panel dl dt .sec_menu:link{
    color: #005197;
    font-weight: bold;
    line-height:26px;
    text-align: left;
    background: none;
    font-size: 12px;
    padding: 0;
    border-right: none;
    border-left: none;
}
.ui_navbar_style01 .submenu-panel dl dt .sec_menu:hover{
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    background: none;
    border-right: none;
    border-left: none;
}
.submenu-panel dl dd {
    line-height:22px;
    text-align: left;
}
.submenu-panel dl dd .thi_menu:link{
    margin-right:5px;
    _margin-right:2px;
    background: none;
    border-right: none;
    border-left: none;
    color: #4d4d4d;
    padding: 0;
    font-size: 12px;
}
.ui_navbar_style01 .submenu-panel dl dd  .thi_menu:hover{
    background: none;
    border-right: none;
    border-left: none;
    color: #005197;
    text-decoration: underline;
}
.submenu-panel .menu_type{
    float: left;
    height: auto;
    margin-right: 18px;
    width: 130px;
}
.submenu-panel .menu_type h2 {
    border-bottom: 1px solid;
    height: 31px;
    line-height: 31px;
    text-align: left;
    width: 100px;
    margin: 0;
}
.submenu-panel .menu_type h2  .sec_menu:link{
    color: #005197;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 0 2px;
    margin-top: 8px;
    line-height:16px;
    border-right: none;
    border-left: none;
    background:none;
}
.submenu-panel .menu_type h2 .sec_menu:hover {
    background: none repeat scroll 0 0 #005197;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.submenu-panel .menu_type h2 .sec_menu:visited{
    background: none repeat scroll 0 0 #005197;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.menu_typebg {
    height: auto;
    margin-top: 10px;
}
.menu_typebg ul {
    display: inline;
    float: left;
    margin-right: 18px;
    text-align: left;
    width: 80px;
}
.menu_typebg ul li {
    line-height: 22px;
    text-align: left;
    width: 80px;
}
.menu_typebg ul li .thi_menu:hover {
    color:#005197;
    text-decoration: underline;
    background: none;
}
.menu_typebg ul li .thi_menu:link{
    display: block;
    width: 80px;
    border: none;
    color:#4d4d4d;
    font-size: 12px;
    padding: 0;
    background:none;
}
.submenu-panel .menu_type h2 .sec_menu:hover {
    background: none repeat scroll 0 0 #005197;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.menu_typebg ul {
    float: left;
}
.menu_typebg  ul {
    display: inline;
    margin-right: 15px;
    width: 108px;
    position: relative;
}
.menu_typebg  ul li {
    line-height:22px;
    text-align: left;
    width: 108px;
}
.menu_typebg  .thi_menu:link,
.menu_typebg  .thi_menu:visited{
    display: block;
    border:none;
    color:#4d4d4d;
    font-size: 12px;
    padding: 0;
    background: none;
    white-space: nowrap;
}
.menu_typebg  .thi_menu:hover{
    color:#005197;
    text-decoration: underline;
    background: none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/
/* ------------------------------------------------------------------------------------