/* --------------

	   ui_page.css:常用分页样式
	   author: xiangxu@wisedu.com

 ------------ */

/* 分页
----------------------------------------------------------------------------------------------------*/
.ui_pagination {
    height: 40px;
    margin: 20px 0;
}
.ui_pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
	_border-left:1px solid #ddd;
}
.ui_pagination ul li {
    display: inline;
}
.ui_pagination ul li a, 
.ui_pagination ul li span {
    background-color: #fff;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 38px;
    padding: 0 14px;
    text-decoration: none;
	font-size:14px;
	color: #0088CC;
}
.ui_pagination ul li a:hover, 
.ui_pagination ul .active a, 
.ui_pagination ul .active span {
    background-color: #F5F5F5;
    text-decoration: none;
}
.ui_pagination .active a, 
.ui_pagination ul .active span {
    color: #999999;
    cursor: default;
}
.ui_pagination ul .disabled span, 
.ui_pagination ul .disabled a, 
.ui_pagination ul .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.ui_pagination ul li:first-child a,
.ui_pagination ul li:first-child span {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.ui_pagination ul li:last-child a, 
.ui_pagination ul li:last-child span {
    border-radius: 0 3px 3px 0;
}
.ui_pagination_centered {
    text-align: center;
}
.ui_pagination_right ul{
    float: right;
}
.ui_pagination .state{
	display: block;  
	margin:12px 10px 0 0px; 
	font-size: 13px; 
	color: #0088CC; 
	float: right;
}
.ui_pager {
    list-style: none outside none;
    margin: 20px 0;
    text-align: center;
}
.ui_pager:before, .ui_pager:after {
    content: "";
    display: table;
    line-height: 0;
}
.ui_pager:after {
    clear: both;
}
.ui_pager li {
    display: inline;
}
.ui_pager a, .ui_pager span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
}
.ui_pager a:hover {
    background-color: #F5F5F5;
    text-decoration: none;
}
.ui_pager .next a, .ui_pager .next span {
    float: right;
}
.ui_pager .previous a {
    float: left;
}
.ui_pager .disabled a,
.ui_pager .disabled a:hover,
.ui_pager .disabled span {
    background-color: #FFFFFF;
    color: #999999;
    cursor: default;
}
/*jiezuo@wisedu.com*/
.ui_pagination_small{
    height: 22px;
    margin: 6px 0;
}
.ui_pagination_small ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    _border-left:1px solid #ddd;
}
.ui_pagination_small ul li {
    display: inline;
}
.ui_pagination_small ul li a,
.ui_pagination_small ul li span {
    background-color: #fff;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 22px;
    padding: 0 6px;
    text-decoration: none;
    font-size:12px;
    color: #0088CC;
}
.ui_pagination_small ul li a:hover,
.ui_pagination_small ul .active a,
.ui_pagination_small ul .active span {
    background-color: #F5F5F5;
    text-decoration: none;
}
.ui_pagination_small .active a,
.ui_pagination_small ul .active span {
    color: #999999;
    cursor: default;
}
.ui_pagination_small ul .disabled span,
.ui_pagination_small ul .disabled a,
.ui_pagination_small ul .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.ui_pagination_small ul li:first-child a,
.ui_pagination_small ul li:first-child span {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.ui_pagination_small ul li:last-child a,
.ui_pagination_small ul li:last-child span {
    border-radius: 0 3px 3px 0;
}
.ui_pagination_small_centered {
    text-align: center;
}
.ui_pagination_small_right ul{
    float: right;
}
.ui_pagination_small .state{
    display: block;
    margin:12px 10px 0 0px;
    font-size: 13px;
    color: #0088CC;
    float: right;
}
.ui_pagination_style01 {
    height: 22px;
    margin: 8px 0;
}
.ui_pagination_style01 ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.ui_pagination_style01 ul li {
    display: inline;
}
.ui_pagination_style01 ul li a,
.ui_pagination_style01 ul li span {
    background-color: #fff;
    border-image: none;
    float: left;
    line-height: 22px;
    padding: 0 8px;
    text-decoration: none;
    font-size:12px;
    color: #333;
}
.ui_pagination_style01 ul li a:hover,
.ui_pagination_style01 ul .active a,
.ui_pagination_style01 ul .active span {
    background-color: #0088cc;
    color:#fff;
    text-decoration: none;
}
.ui_pagination_style01 .active a,
.ui_pagination_style01 ul .active span {
    color: #fff;
    cursor: default;
}
.ui_pagination_style01 ul .disabled span,
.ui_pagination_style01 ul .disabled a,
.ui_pagination_style01 ul .disabled a:hover {
    background-color: transparent;
    color: #666;
    cursor: default;
}
.ui_pagination_style01_centered {
    text-align: center;
}
.ui_pagination_style01_right ul{
    float: right;
}
.ui_pagination_style01 .state{
    display: block;
    margin:12px 10px 0 0px;
    font-size: 13px;
    color: #0088CC;
    float: right;
}

