/* --------------

	   ui_table.css:常用表格样式
	   author: xiangxu@wisedu.com

 ------------ */

/* 表格
----------------------------------------------------------------------------------------------------*/
.ui_table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.ui_table {
    margin-bottom: 20px;
    width: 100%;
}

.ui_table th, .ui_table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.ui_table th {
    font-weight: bold;
    background: #eee;
    white-space: nowrap;
}

.ui_table thead th {
    vertical-align: bottom;
}

.ui_table tbody + tbody {
    border-top: 2px solid #ddd;
}

.ui_table_condensed th,
.ui_table_condensed td {
    padding: 4px 5px;
}

.ui_table_bordered {
    border: 1px solid #ddd;
}

.ui_table_bordered th,
.ui_table_bordered td {
    border-left: 1px solid #ddd;
}

.ui_table_clean td {
    border: 0;
}

.ui_table_clean th {
    font-weight: normal;
    background: none;
    border: 0;
}

.ui_table_striped tbody tr:nth-child(2n+1) td,
.ui_table_striped tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}

.ui_table_hover tbody tr:hover td,
.ui_table_hover tbody tr:hover th {
    background-color: #F5F5F5;
}

.ui_table tbody tr.success td {
    background-color: #DFF0D8;
}

.ui_table tbody tr.error td {
    background-color: #F2DEDE;
}

.ui_table tbody tr.warning td {
    background-color: #FCF8E3;
}

.ui_table tbody tr.info td {
    background-color: #D9EDF7;
}

.ui_table_hover tbody tr.success:hover td {
    background-color: #D0E9C6;
}

.ui_table_hover tbody tr.error:hover td {
    background-color: #EBCCCC;
}

.ui_table_hover tbody tr.warning:hover td {
    background-color: #FAF2CC;
}

.ui_table_hover tbody tr.info:hover td {
    background-color: #C4E3F3;
}

.ui_table_striped {
}

/*table内容自适应宽度并截取*/
.table_fixed {
    table-layout: fixed;
}
.table_fixed td,
.table_fixed th{
    overflow: hidden;
    white-space: nowrap;
    text-overflow :ellipsis;
}

/*table样式2*/
.ui_table_style02{
    table-layout: fixed;
}
.ui_table_style02 th {
    height: 26px;
    line-height: 26px;
    color: #454545;
    padding: 0 2px;
    text-align: center;
    font-size: 13px;
    background: url(../images/common/table/table_tyle02_th_bg.gif) repeat-x;
    border-right: 1px solid #dcdcdc;
    white-space: nowrap;
    overflow: hidden;
}

.ui_table_style02 td {
    height: 25px;
    line-height: 25px;
    color: #454545;
    padding: 1px 2px;
    font-size: 13px;
}

.ui_table_style02 th,
.ui_table_style02 td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui_table_style02 td a {
    word-break: break-all;
    word-wrap: break-word;
}

.ui_table_style02 img {
    margin-top: 6px;
}

.ui_table_style03 {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.ui_table_style03 {
    width: 100%;
}

.ui_table_style03 th, .ui_table_style03 td {
    border-top: 1px solid #dcdcdc;
    line-height: 20px;
    border-right: 1px solid #dcdcdc;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.ui_table_style03 th {
    font-weight: bold;
    background: #eee;
    white-space: nowrap;
}

.ui_table_style03 thead th {
    vertical-align: bottom;
}

.ui_table_style03 tbody + tbody {
    border-top: 2px solid #ddd;
}

.ui_table_style03_condensed th,
.ui_table_style03_condensed td {
    padding: 4px 5px;
}

.ui_table_style03_bordered {
    border: 1px solid #ddd;
}

.ui_table_style03_bordered th,
.ui_table_style03_bordered td {
}

.ui_table_style03_clean td {
    border: 0;
}

.ui_table_style03_clean th {
    font-weight: normal;
    background: none;
    border: 0;
}

.ui_table_style03_striped tbody tr:nth-child(2n+1) td,
.ui_table_style03_striped tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}

.ui_table_style03_hover tbody tr:hover td,
.ui_table_style03_hover tbody tr:hover th {
    background-color: #F3f8fb;
}

.ui_table_style03 tbody tr.success td {
    background-color: #DFF0D8;
}

.ui_table_style03 tbody tr.error td {
    background-color: #F2DEDE;
}

.ui_table_style03 tbody tr.warning td {
    background-color: #FCF8E3;
}

.ui_table_style03 tbody tr.info td {
    background-color: #D9EDF7;
}

.ui_table_style03_hover tbody tr.success:hover td {
    background-color: #D0E9C6;
}

.ui_table_style03_hover tbody tr.error:hover td {
    background-color: #EBCCCC;
}

.ui_table_style03_hover tbody tr.warning:hover td {
    background-color: #FAF2CC;
}

.ui_table_style03_hover tbody tr.info:hover td {
    background-color: #C4E3F3;
}

.ui_table_style03 th {
    height: 26px;
    line-height: 26px;
    color: #454545;
    padding: 0 2px;
    font-size: 13px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.ui_table_style03 td {
    height: 25px;
    line-height: 25px;
    color: #454545;
    padding: 1px 2px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

.ui_table_style03 td a {
    word-break: break-all;
    word-wrap: break-word;
}

.ui_table_style03 img {
    margin-top: 6px;
}

.ui_table_style04 {
    width: 100%;
}

.ui_table_style04 tr {
    height: 24px;
}

.ui_table_style04 th {
    height: 24px;
    line-height: 24px;
    color: #555;
    padding: 0 2px;
    text-align: left;
    font-size: 12px;
    background: url(../images/common/table/table_style04_th_bg.gif) repeat-x;
    padding-left: 8px;
    font-weight: normal;
}

.ui_table_style04 td {
    height: 27px;
    line-height: 27px;
    color: #333;
    padding: 0 2px;
    font-size: 13px;
    padding-left: 8px;
}

.ui_table_style04 td a {
    height: 27px;
    line-height: 27px;
    color: #333;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

.ui_table_style04 img {
    margin-top: 6px;
}

.ui_table_style04 th {
    border-top: 0;
}

.ui_table_style04 td {
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

.ui_table_style04 td a:link,
.ui_table_style04 td a:visited {
}

.ui_table_style04 td a:hover {
    color: #0066cc;
}