<div id="templatemo_main_wrapper" style="height:550px;">
    <div id="templatemo_main">
        <h2>Uers</h2>
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
            <tr bgcolor="#395015">
                <th width="8.9%" align="left"></th>
                <th width="18.6%" align="center">姓名</th>
                <th width="26.8%" align="center">上一次登陆时间</th>
                <th width="16.4%" align="center">权限</th>
                <th width="19.4%" align="center">操作</th>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><input type="checkbox" /></td>
                <td align="center">张小凡</td>
                <td align="center">2019/5/18 10:30:01 </td>
                <td align="center">普通用户</td>
                <td align="center"><a href="#">删除</a>/<a href="#">修改</a></td>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><input type="checkbox" /></td>
                <td align="center">李晓</td>
                <td align="center">2019/5/18 10:30:01 </td>
                <td align="center">普通用户</td>
                <td align="center"><a href="#">删除</a>/<a href="#">修改</a></td>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><input type="checkbox" /></td>
                <td align="center">张破</td>
                <td align="center">2019/5/18 10:30:01 </td>
                <td align="center">普通用户</td>
                <td align="center"><a href="#">删除</a>/<a href="#">修改</a></td>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><input type="checkbox" /></td>
                <td align="center">杨子曼</td>
                <td align="center">2019/5/18 10:30:01 </td>
                <td align="center">普通用户</td>
                <td align="center"><a href="#">删除</a>/<a href="#">修改</a></td>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><input type="checkbox" /></td>
                <td align="center">手机蛤</td>
                <td align="center">2019/5/18 10:30:01 </td>
                <td align="center">普通用户</td>
                <td align="center"><a href="#">删除</a>/<a href="#">修改</a></td>
            </tr>
            <tr bgcolor="#41581B">
                <td align="center"><a href="#">全选</a>/<a href="#">反选</a></td>
                <td colspan="4" align="center"><a href="#">批量删除</a></td>
            </tr>
        </table>
        <div class="cleaner"></div>
    </div> <!-- END of main -->

